.addBox_C1 >div{
    top:15%;
    height: auto;
}
.addBox_C1 .input p:nth-child(3){
    height: 100px;
}
.addBox_C1 .input p:nth-child(4){
    margin-top: 0;
    font-size: 12px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    color: #99A9BF;
}
.addBox_C1 .input p:nth-child(5) input,.addBox_C1 .input p:nth-child(9) input{
    width: 30%;
}
.addBox_C1 .addBtn{
    height: 90px;
}
.img_up{
    width: 90px;
    height: 90px;
    background-color:#ccc;
}
.up_img{
    margin-top: 20px;
}
.up_img span{
    float: left;
    width: 20%;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
}
.up_img>div{
    display: inline-block;
    width: 90px;
    height: 90px;
}
.up_img >div input{
    opacity: 0;
    width: 100%;
    height: 100%;
}
.up_img >div{
    border: 1px solid #ccc;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.up_img >div:hover{
    border-color:#3aa7ff;
}
